{# setting links in a view script: #}
<!-- {% do pimcore_head_link().appendStylesheet('https://localhost:3003/public/build/css/home.css', 'screen', false, {webLink: {as: 'style'}}) %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pimcore_head_title() }}</title>
		{{ pimcore_head_link() }}
		{{ pimcore_head_meta() }}

		<script type="text/javascript" src="{{ pimcore_website_config('asset_public') }}js/home.js" ></script>
		<link rel="stylesheet" href="{{ pimcore_website_config('asset_public') }}css/home.css" />

		{% if block('head_feature_assets') is defined %}
			{{ block('head_feature_assets') }}
		{% endif %}
</head>

<body>
	{% include 'includes/header.html.twig' with { socialRoot: socialRoot, socialChildren: socialChildren } %}
	{{ block('slimslider') }}
	<div class="wrapper py-3 container">
		<div class="col-12">
			{{ block('content') }}
		</div>
	</div>
	{% include 'includes/footer.html.twig' with { mainNavRoot: mainNavRoot, mainNavChildren: mainNavChildren } %}
</body>
</html>
