{# setting links in a view script: #}
<!-- {% do pimcore_head_link().appendStylesheet('https://localhost:3003/public/build/css/home.css', 'screen', false, {webLink: {as: 'style'}}) %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pimcore_head_title() }}</title>
		{{ pimcore_head_link() }}
		{{ pimcore_head_meta() }}

		<link rel="stylesheet" href="{{ pimcore_website_config('asset_public') }}css/home.css" />
		<script type="text/javascript" src="{{ pimcore_website_config('asset_public') }}js/home.js" ></script>

</head>

<body>
	{% include 'includes/header.html.twig' with { socialRoot: socialRoot, socialChildren: socialChildren } %}
	<div class="wrapper">
		{{ block('content') }}
	</div>
	{% include 'includes/footer.html.twig' with { mainNavRoot: mainNavRoot, mainNavChildren: mainNavChildren } %}
</body>
</html>
